a:link{
    color: blue;
}
a:visited{
    color:blue;
}

a:hover{
    color:red;
}

.prjbutton {
    display: inline-block;
    padding: 3px 5px;
    background: #eee;
    text-decoration: none;
}

.tasklink {
    display: inline-block;
    padding: 3px 5px;
    text-decoration: none;
}

#left-container {
    position: absolute;
    top: 5px;
    width: 10%;
    height: 90%;
    border: none;
}

#leftiframe{
    position: absolute;
    height:100%;
    width: 100%;
    z-index: 1;
    border: none;
}

#right-container {
    position: absolute;
    width: 30%;
    height: 90%;
    margin-left: 150px;
    top: 5px;
}

#centeriframe{
    position: absolute;
    margin-left: 100px;
    width: 100%;
    height: 100%;
    border: none;
}

.frmback{
    float: left;
    margin-right: 5px;
}

h1 {
    font-size: 1em;
    text-align: center;
    color: #fff;
    background: #505050
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td.title {
    text-align: right;
}

table.taskdetail tr:hover td {
    background-color: #928989;
}
