{% extends "base2.html" %}
{% block title %}pytaskweb-Home{% endblock %}
<!--
<div class="container-fluid">
    <div class="row">
            <div class="col-lg-2">
                <div id="left-container" hx-get="/projects" hx-trigger="load">
                    <img class="htmx-indicator" src="static/6.gif"/>
                </div>
            </div>
            <div class="col-lg-8">
                <div id="right-container">
                    <img class="htmx-indicator" src="static/6.gif"/>
                </div>
            </div>
            <div class="col-lg-2">
                <div id="more-right">
                    <img class="htmx-indicator" src="static/6.gif"/>
            </div>
        </div>
    </div>
</div>
-->
