{% for project in projects %}
{%  if '.' in project %}
<ul class="nav-sidebar">
    <li>
    <a class="nav-link" href="" hx-get="{{ url_for('project_tasks', name=project)}}" hx-target='#right-container'>
    <i class="fas fa-circle nav-icon"></i>
        {{ project.replace('_', ' ').split('.')[1].capitalize() }}
    </a>
    </li>
</ul>
{%  else %}
<a href="" class="nav-link" hx-get="{{ url_for('project_tasks', name=project)}}" hx-target='#right-container'>
    <i class="far fa-circle nav-icon"></i>
    <p>{{ project.replace('_', ' ').capitalize() }}</p>
</a>
{% endif %}
{% endfor %}
