{% extends "base.html" %}
{% block body %}
<h1 class="sectiontitle">Projects</h1>
    <div class="toolbox">
        <form method="POST" name="projects" action="{{ url_for('projects') }}">
            <button type="submit" name='sync' title="Refresh project list" value="sync" class="btn btn-outline-dark">
                <i class="fa fa-refresh"></i>
            </button>
        </form>
    </div>
    {% for project in projects %}
    {%  if '.' in project %}
        <div class="child">
            <span>&#9584;</span><a class="prjbutton" href="{{ url_for('project_tasks', name=project)}}" target='centeriframe'> {{ project.replace('_', ' ').split('.')[1] }}</a><br>
        </div>
    {%  else %}
        <a class="prjbutton" href="{{ url_for('project_tasks', name=project)}}" target='centeriframe'> {{ project.replace('_', ' ') }}</a><br>
    {% endif %}
    {% endfor %}
{% endblock %}
