{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery/tokenize2/tokenize2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jQuery-Date-Time-Picke-Plugin-Simple-Datetimepicker/jquery.simple-dtpicker.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.tags').tokenize2({
                placeholder: "Tag",
                tokensAllowCustom: "True",
                delimiter: [' ', ',', '-']
            });

            $('#duedate').appendDtpicker({
                "current": null,
                "closeOnSelected": true,
                "futureOnly": true,
                "autodateOnStart": false,
            });
        });
    </script>
{% endblock %}
{% block body %}
    {{ project }}
    <form action="#" method="post">
    <p>
        <label for="description">Description: </label>
        <input type="text" name="description" aria-label="Description:">
    </p>
    <p>
        <label for="duedate"> Due: </label>
        <input type="text" id="duedate" />
    </p>
    <p>
        <label for="tags"> Tags:</label>
        <select class="tags" id="tags" multiple>
            {% for tag in tags %}
                <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
        </select>
    </p>
    </form>
    <script src="{{ url_for('static', filename='jQuery-Date-Time-Picke-Plugin-Simple-Datetimepicker/jquery.simple-dtpicker.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/tokenize2/tokenize2.js') }}"></script>
{% endblock %}
