{% extends "base.html" %}
{% block body %}
<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
            <h5 class="modal-title">Task Details</h5>
		</div>
		<div class="modal-body">
            <table class="table table-sm table-striped">
                {% for k,v in task.items() %}
                <tr>
                    <td class="title">{{ k }}:</td>
                    <td>
                        {% if k.lower() == 'tags' %}
                        {%  for tag in v %}
                        <button type="button" class="btn btn-primary">{{ tag }}</button>
                        {% endfor %}
                        {% else %}
                        {{ v }}
                        {% endif %}
                    </td>
                </tr>
                {%endfor%}
            </table>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
		</div>
	  </div>
	</div>
  </div>
{%endblock%}
