<script>
    function closeModal() {
        var container = document.getElementById("modals-here")
        var backdrop = document.getElementById("modal-backdrop")
        var modal = document.getElementById("modal")

        modal.classList.remove("show")
        backdrop.classList.remove("show")

        setTimeout(function() {
            container.removeChild(backdrop)
            container.removeChild(modal)
        }, 200)
    }
</script>
<div id="modals-here"></div>
<h1>{{ tasks[0]['project'].replace('_', ' ').replace('.','/').capitalize() }} Tasks </h1>
{% for task in tasks %}
<div class="card">
    <h5 class="card-title">{{ task['description'].capitalize() }}</h5>
    <p class="card-text">
        <a href=""
           class="btn btn.app"
           >
           <i class="text-success far fa-check-square"></i>
        </a>
        <a href=""
           class="btn btn.app"
           hx-get="{{ url_for('task_detail', uuid=task['uuid']) }}"
           hx-target="#modals-here" 
           hx-trigger="click"
           _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">
            <i class="far fa-list-alt"></i>
        </a>
    </p>
</div>
{% endfor %}
