{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery/tokenize2/tokenize2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jQuery-Date-Time-Picke-Plugin-Simple-Datetimepicker/jquery.simple-dtpicker.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.tags').tokenize2({
                placeholder: "Tag",
                tokensAllowCustom: "True",
                delimiter: [' ', ',', '-']
            });

            $('#duedate').appendDtpicker({
                "current": null,
                "closeOnSelected": true,
                "futureOnly": true,
                "autodateOnStart": false,
            });
                $("#btn-go").click(function() {
                    const duedate = $("#duedate").val();
                    const $formdata = $('form').serializeArray();
                    const project = $formdata[0].value;
                    const description = $formdata[1].value;
                    const tags = $('#tags option:selected').toArray().map(item => item.text);
                    const dataString = 'duedate=' + duedate + '&description=' + description + '&project=' + project + '&tags=' + tags;
                    const URL = "{{ url_for('task_add', project=project) }}";
                    $.post(URL, dataString);
                    $("form").trigger("reset");
                })
});
    </script>
{% endblock %}
{% block body %}
    <h1>Add task to project</h1>
    <form id="task_data" method="POST">
        {% if project is none %}
        <input type="text" name="project" placeholder="Enter a name for a project">
    {% else %}
        <input type="text" name="project" readonly="readonly" value="{{ project }}">
    {% endif %}
        <p>
            <label for="description">Description: </label>
            <input aria-label="Description:" name="description" placeholder="Enter details of task" type="text" />
        </p>
        <p>
            <label for="duedate"> Due: </label>
            <input id="duedate" type="text" />
        </p>
        <p>
            <label for="tags"> Tags:</label>
            <select class="tags" id="tags" multiple="multiple">
                {% for tag in tags %}
                    <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>
        </p>
        <input id="btn-go" type="button" value="Submit">
    </form>
    <script src="{{ url_for('static', filename='jQuery-Date-Time-Picke-Plugin-Simple-Datetimepicker/jquery.simple-dtpicker.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/tokenize2/tokenize2.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui/jquery-ui.js') }}"></script>
{% endblock %}
