{% extends "base.html" %} dd
{% block body %}
<h1 class="sectiontitle">Tasks</h1>
    <form method="POST" name="project_tasks" action="{{ url_for('project_tasks', name=tasks[0]['project'])}}">
    <div class="toolbox">
        <div class="btn_toolbar" role="toolbar" aria-title="toolboxk">
            <div class="btn-group mr-2" role="group" aria-label="Navigation">
                <a href="/" class="btn btn-outline-dark" role="button" target="_parent"><i class="fa fa-home"></i></a>
                <button type="submit" name="sync" title="Refresh task list" value="sync" class="btn btn-outline-dark">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Navigation">
                <button type="submit" name="add_task" title="Add a new task" value="add_task" class="btn btn-outline-dark">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </form>
    </div>
    {% for task in tasks %}
    <a class="tasklink" href="{{ url_for('task_detail', uuid=task['uuid']) }}"> {{ task['description'] }}</a><br>
    {% endfor %}
{% endblock %}
